.add-post-panel {
  &__input {
    height: 160px;
    padding: 14px 20px;
    border: 2px solid #E6E6E6;
    border-radius: 10px;
    outline: none;
    resize: none;
    &_edit {
      height: 50px;
    }
  }

  &__btn-group {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
  }

  &__btn-close {
    background: $mainBtn;
    color: #4D4D4D;
    &:active {
      background: darken($mainBtn, 10%);
    }
  }

  &__btn-save {
    background: $completeBtn;
    color: #FFFFFF;
    &:active {
      background: darken($completeBtn, 10%);
    }
  }

}

.add-post-btn {
  border: none;
  border-radius: 4px;
  width: 137px;
  height: 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  font-family: 'Gilroy';
}