.post-list {
  &__item {
    margin-top: 30px;
    display: flex;
    align-items: flex-start;
    position: relative;
  }
  &__text {
    padding-left: 36px;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
  }
  &__btn {
    &::before {
      content: '';
      position: absolute;
      cursor: pointer;
      display: inline-block;
      left: 0;
      width: 22px;
      height: 22px;
      border: 2px solid #D9D9D9;
      border-radius: 50%;
    }
    &_active::after {
      content: '';
      position: absolute;
      cursor: pointer;
      display: inline-block;
      width: 12px;
      height: 12px;
      left: 5px;
      top: 5px;
      border: none;
      border-radius: 50%;
      background-color: $completeBtn;
    }
  }
  &__delete {
    &::before {
      content: '';
      position: absolute;
      cursor: pointer;
      display: inline-block;
      left: 0;
      width: 22px;
      height: 22px;
      border: 2px solid $deleteBtn;
      background-color: $deleteBtn;
      border-radius: 50%;
    }
    &::after {
      content: '';
      position: absolute;
      cursor: pointer;
      display: inline-block;
      width: 10px;
      height: 2px;
      left: 6px;
      top: 10px;
      border: none;
      border-radius: 4px;
      background-color: #fff;
    }
  }
}