.add-post {
  cursor: pointer;
  width: 60px;
  height: 60px;
  border: none;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 22px;
    height: 2px;
    background-color: $completeBtn;
    left: 50%;
    transform: translateX(-50%);
  }

  &::before {
    content: "";
    position: absolute;
    width: 22px;
    height: 2px;
    background-color: $completeBtn;
    left: 50%;
    transform: translateX(-50%) rotate(90deg);
  }
}