.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__text {
    font-weight: 800;
    font-size: 28px;
    line-height: 41px;
    color: #1C1C1C;
  }

  &__edit-button {
    width: 86px;
    height: 27px;
    background: $mainBtn;
    border: none;
    border-radius: 4px;
    font-family: 'Gilroy';
  }
}