.app {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding: 60px 0 40px;
  background: rgba(229, 229, 229, 0.13);

  &__add-btn {
    width: 60px;
    height: 60px;
    margin-top: auto;
    display: flex;
    justify-content: flex-end;
  }
}

.container {
  width: 295px;
}

@import "./components/header/header.scss";
@import "./components/add-post/add-post.scss";
@import "./components/post-list/post-list.scss";
@import "./components/post-list-item/post-list-item.scss";
@import "./components/add-post-panel/add-post-panel.scss";
@import "./components/add-post-item/add-post-item.scss";