// Colors

$mainBtn: #F2F2F2;
$completeBtn: #23A3FF;
$deleteBtn: #E85C5C;

// Fonts

@import "./fonts/fonts.scss";

*,
*::after,
*::before {
  box-sizing: border-box;
}

img {
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Gilroy', sans-serif;
}

body,
h1,
h2,
h3,
h4,
p,
input,
ul,
li {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

#root {
  height: 100vh;
}

@import "./App.scss";