.add-post-panel {
  display: block;
  position: absolute;
  background-color: #fff;
  height: 100%;
  width: 100%;
  margin-top: 71px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
  border-radius: 40px 40px 0px 0px;
  padding: 42px 40px 0;
  z-index: 1;

  &__content {
    display: flex;
    flex-wrap: wrap;
  }
}

.display-none {
  display: none;
}